:root {
    --primary-clr: #0d47a1;
    --primary-light-clr: #5472d3;
    --secondary-light-clr: #f5f6f9;
    --secondary-dark-clr: #bdc5da;
    --on-primary-clr: #c5cae9;
    --on-secondary-clr: #1a237e;
    --on-secondary-dark-clr: #131a5d;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: hidden; */
    background: var(--secondary-light-clr);
}

.main__interface {
    display: none;
}

.nav__list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1rem;
    margin: 0;
    background: var(--primary-clr);
    color: var(--on-primary-clr);
}

.nav__element--active {
    font-weight: 500;
    color: #fff;
}

.balance {
    padding: 3rem;
    background: var(--primary-light-clr);
    color: #fff;
}

.balance__amount {
    font-size: 3rem;
    margin: 0;
}

.balance__label {
    display: block;
}

.balance__label::first-letter {
    text-transform: uppercase;
}

.history__tab-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.history__tab {
    border: none;
    padding: 1rem;
    color: #333;
    background: var(--secondary-dark-clr);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
}

.history__tab--active {
    border-bottom: 3px solid var(--primary-clr);
    font-weight: 600;
}

.history__content {
    padding: 1rem;
    overflow-y: scroll;
    max-height: 40vh;
    font-weight: 400;
    color: #333;
    background: var(--secondary-light-clr);
}

.movement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #333;
    padding: .75rem 0rem;
}

.movement:last-child {
    margin-bottom: 4rem;
}

.movement__type--deposit {
    color: #0da15b;
}

/* SUMMARY */

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; */
    padding: 0 1.5rem;
    color: #fff;
    background: var(--primary-clr);
    font-size: 1rem;
}

/* FORM */

.transfer__form {
    margin: 3rem;
}

.transfer__label {
    font-size: 1rem;
    margin-bottom: .5rem;
    display: block;
}

.transfer__select {
    width: 100%;
    padding: .5rem;
    font-size: 1.25rem;
    border: none;
    margin-bottom: 1.25rem;
}

.transfer__input--number {
    border: none;
    border-bottom: 1px solid var(--on-secondary-dark-clr);
    background: var(--secondary-light-clr);
    font-size: 2.25rem;
    width: 98%;
    margin-bottom: 1.25rem;
}

.btn__transfer {
    width: 100%;
    padding: .75rem;
    font-size: 1.5rem;
    background: var(--primary-clr);
    color: #fff;
    border: none;
}

.transfer__select:focus,
.transfer__input--number:focus {
    outline: none;
}

/* DESKTOP */

@media only screen and (min-width: 1200px) {
    
    /* body {
        overflow-y: inherit;
    } */

    .nav {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        width: 90%;
        margin: 7vh auto;
    }

    .balance {
        flex-basis: 30%;
    }
    
    .main__interface {
        display: block;
        flex-basis: 35%;
        overflow-x:hidden;
    }

    .history__content {
        max-height: inherit;
        height: 70vh;
    }

    .summary {
        position: relative;
    }
}